<html>
    <head>
        <title> Login Screen </title>
        <link rel ="stylesheet" href = "/static/css/login.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static/js/login.js"></script>
    </head>
    <body>
        <h1> CJ's College Student Classify! </h1>
        <h2 id ="why"> Why Classify? </h2>
        <p>
            We are an app made for YOU! <br> 
            This application is designed to help overcome <br>
            college students depression, aniexty, stress, <br>
            and other symtoms that can negatively <br>
            impact your body and success at your university
        </p>
        <form action="/submission.html">
            <label for="email">Email:</label ><br>
            <input type="email" id="email" name="email" required><br>
            <label for="pword">Password:</label><br>
            <input type="password" id="pword" name="pword" required><br><br>
            <input type="submit" value="Login">
        </form> 
        <button onclick="window.location.href='/registration.html'">Sign Up!</button>
        

    </body>
</html>
