html
    head
        title Login Screen
        link(rel='stylesheet', href='/login.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/login.js")
    body
    div(class='div-class')#loginpage    
        h1 CJ's College Student Classify
        h2 Why Classify?
        p We are an app made for YOU!
        p This application is designed to help overcome college students depression, aniexty, stress, and other 
        p symtoms that can negatively impact your body and success at your university.
        br
        br
        br
        br
        br
        input(type="text" placeholder="Email")#email
        br
        input(type="password" placeholder="Password")#password
        br
        input(type="button", value="Login")#login
        input(type="button", value="Sign up")#signup