html
    head
        title CJ's College Student Classify!
        link(rel='stylesheet', href='/page.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/page.js")
    body
    div(class='div-class')#subpage 
        h1 YAY! You have created your account!
        h2 We encourage you to take the survey to get personalized results to help you cope with your mental health! 
        br
        p Take survey below!
        br
        input(type="button", value="Survey")#submit    