html
    head
        title CJ's College Student Classify!
        link(rel ="stylesheet" href = "page.css")
       // script (src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script (src="login.js")
 
    body
        h3 id= "notice" Everything is subject to change
        br
    h1 id = "title" Welcome to CJ's College Student Classify App
    div
    h3 id = "what" What is Classify
    p id = "explain"Classify is an application that is designed to help college students to overcome depression, aniexty, stress, and other symtoms that can negatively impact your body and success at your university.
    
    h2 id = "interested" Interested in the classify app to improve your mental health?
    button (class = "button button1" onclick="window.location.href='classify/views/registration.html'" Sign up for free today)
    
    h2 id = "member" Already a member?
    button (class = "button button1" onclick="window.location.href='classify/views/login.html'"Login)
