<html>
    <head>
        
        <title> CJ's Registration</title>
        <style>
            h1 {
                color: lightblue;
                text-align: center;
            }
            body {
                background-color: lightblue;
                background-image: url('../../bg.jpg');
            }
            #disclaimer {
                color: red;
            }
            #page {
                background-color: darkgrey;
                text-align: center;
                margin-left: 280px;
                margin-right: 280px;
        </style>
    </head>
   
    <body>
        
        <h1>CJ's Mental Health Keeper</h1>
        <h1> Sign-up today, it's free!</h1>
        <div id="page"><br>
            <p id = "disclaimer">DISCLAIMER: All information provided is confindental and will not be shared with any third-parties applications.</p>
            <form action="/submission.html">
                <label for="fname">First name:</label>
                    <input type="text" id="fname" name="fname" required><br><br>
                    
                    <label for="lname">Last name:</label>
                    <input type="text" id="lname" name="lname" required><br><br>
                    
                    <label for="mi">Middle Initial:</label>
                    <input type="text" id="mi" name="mi"><br><br>
                    
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="date" value="2014-02-09" required><br><br>
                    
                    <label for="gender">Gender:</label>
                    <select name="gender" id="gender" required>
                        
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="none">Prefer not to disclose</option>
                    </select><br><br>
                    
                    <label for="email">Email address:</label>
                    <input type="email" id="email" name="email" required><br><br>
                    
                    <label for="number">Phone number</label>
                    <input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required> <br>
                    <small>Format: 000-000-0000</small><br><br>
                    
                    <label for="city">City:</label>
                    <input type="city" id="city" name="city" required><br><br>
                    
                    <label for="state">State:</label>
                    <input type="state" id="state" name="state" required><br><br>
                    
                    <label for="zip">Zip/Postal Code:</label>
                    <input type="zip" id="zip" name="zip" required><br><br>
                    
                    <input type="checkbox" id="myCheck" required>
                    <label for="agree"> I agree to all terms and conditions. </label><br><br>
                    
                    <input type="submit" value="Submit"><br><br>
                    </form>
        </div>
              
    </body>
</html>



