html
    head
        title Registration Page
        link(rel='stylesheet', href='/registration.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/registration.js")
    body
    div(class='div-class')#reg    
        h1 CJ's Mental Health Keeper
        h1 Sign-up today, its free!
        br
        p
        label.for.fname First Name
        input(type="text", placeholder="First Name")#fname
        br
        br
        label.for.lname Last Name
        input(type="text", placeholder="Last Name")#lname
        br
        br
        label.for.mname Middle Initial
        input(type="text", placeholder="Middle Initial")#mname
        br
        br
        label.for.dob Date of Birth
        input(type="date", placeholder="2014-02-09")#dob
        br
        br
        label.for.gender Gender
        select#gender
            option(value="--") -- select --        
            option(value="female") Female
            option(value="male") Male
            option(value="NonBinary") NonBinary
            option(value="transgenderW") Transgender MTF
            option(value="transgenderM") Transgender FTM
            option(value="NA") Prefer not to say
        br
        input(type="button", value="Submit")#submit
        br
        h2 DISCLAIMER: All information provided is confindental and will not be shared with any third-parties applications        