html
    head
        title Result page
        link(rel='stylesheet', href='/result.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/result.js")
    body
    h1 We belive this is the best plan for you!
    
    h2 Weekly food plan:
    p Being under a lot of stressed, or being in a state of depreesion can supress the appetite. We chose this meal plan that can engerize and give fuel to the body.
    
    p for breakfest eat something small to increase your appetite as the weeks go on.
    br
    p Monday: yogurt with grains and real fruit
    br
    p Tuesday: smoothies made with real fruit and Avcado Toast
    br
    p Wednesday: Oatmeal and fruit
    br
    p Thursday: a breakfast burrito
    br 
    p Friday: pancakes and fruit
    br 
    p Saturday: smoothies with toast,
    br
    p Sunday: omelette and real fruit juice
    
    h3 Daily at home workouts:
    p We also added a few at home workouts, which can trigger Serotonin in brain. Which is a hormone that increases a better mood, and working out is known to redcude anxiety!
    p 15 squat jumps
    p 15 push jumps
    p 60 second plank
    p 20 walking lunges
    p 60 second moutain climbers
    p 60 bicycle crunches
    p 10 burpees
    p repeat 3x then Stretch
    
    h4 Self care:
    p Make sure you taking care of your mental state by taking breaks when necessary, talking to friends and family, making sure you keep your personal hygiene kept, and journaling. If you feel like this plan is not helping please seek professional help by seeing a school counselor or liscensed therapist. The National Suicide Prevention Lifeline is 800-273-TALK(8255)