html
    head
        title Result page
        link(rel='stylesheet', href='/result.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/result.js")
    body
    h1 We belive this is the best plan for you!
    
    h2 food plan
    p being under alot a stressed or being in a stste of depreesion can supress the appetite. We chose this meal plan that can engerize and give fuel to the body.
    p for breakfest eat something small daily to increase your appetite as the weeks go on such as: M, yogurt with grains and real fruit, T smoothies made with real fruit, W otmeal, T breakfast burrito, F pankcakes and fruit, S smoothies with tost, S omlete
    p We also added a few at home workouts can trigger seretoine in brain a hormone increases a better mood and working out is known to redcude anxiety