html
    head
        title CJ's College Student Classify!
        link(rel ="stylesheet" href = "/submission.css")
    body
        h3 Everything is subject to change
        br
    h1 YAY! You have created your account!
    div (id = "encourage") 
    p We encourage you to take the survey to get personalized results to help you cope with your mental health!
    button (id = "button1" onclick="window.location.href='/survey.html'"Take the Survey)