<html>
    <head>
        
        <title> CJ's College Student Classify!</title>
         <style>
            h3 {
                color: red;
                text-align: center;
                text-decoration: underline;
            }
            h1 {
                color: lightgreen;
                text-align: center;
            }
            p {
                text-align: center;
            }
          
            #encourage {
                text-align: center;
            }
        </style>
    </head>
   
    <body>
        <h3>Everything is subject to change</h3>
        <br><br><br><br><br><br><br>
    <h1> YAY! You have created your account! </h1>
    <div id = "encourage"> 
    <p>We encourage you to take the survey to get personalized results to help you cope with your mental health!</p>
    <button id = "button1" onclick="window.location.href='/survey.html'">Take the Survey!</button>
    </div>
        
    </body>
</html>