<html>
    <head>
        
        <title> CJ's College Student Classify!</title>
         <style>
            h3 {
                color: red;
                text-align: center;
                text-decoration: underline;
            }
            h1 {
                color: lightgreen;
                text-align: center;
            }
            p {
                text-align: center;
            }
          
        </style>
    </head>
   
    <body>
        <h3>Everything is subject to change</h3>
        <br><br><br><br><br><br><br>
    <h1> YAY! You have created your account! </h1>
    <div> 
    <p>[Encourage user to take the survey to analyze the user mental health levels]</p></div>
        
    </body>
</html>