h1 {
    color: yellow;
	font-size: 90;  
	font-weight: 100;
}
h2 {
    color: yellow;
}
#loginpage { 
    height: 100;
    margin: 2;
    font-family: Times New Roman;
    background-color: blue;    
    text-align: center;
}
body {
    height: 100px;
    background-image: url("cars.JPG");
}
p {
    color: white;
	font-weight: 200; 
	font-size: 20;
}