h1 {
    color: blue;
}
div { 
    height: 100%;
    margin: 2;
    font-family: Times New Roman;
    display: grid;
    background-color: white;    
    align-items: center;
}
body {
 background-color: lightblue;
}
