#title {
    text-align: center;
}

body {
    background-color: lightblue;
}

#notice {
    color: red;
    text-align: center;
    text-decoration: underline;
}

div {
    border: solid;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#what {
    color: red;
}

#interested {
    color: darkgreen;
}

#member {
    color: darkgreen;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    display: block;
    background-color:lightblue; 
    color: black; 
    border: 2px solid grey;
    text-align: center;
}

#explain {
    font-size: 18px;
}