h1 {
    color: darkgreen;
    text-align: center;
    }
body {
    background-image: url("cloud.jpg");
    }
h2 {
    color: red;
    }
#reg {
    background-color: lightgray;
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
}