h1 {
    color: blue;
    text-align: center;
    }
body {
    background-color: lightblue;
    }
h2 {
    color: red;
    }
div {
    background-color: darkgrey;
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
}