h1 {
    color: lightblue;
    text-align: center;
    }
body {
    background-color: lightblue;
    background-image: url('static/css/misc/bg.jpg');
    }
#disclaimer {
    color: red;
    }
#page {
    background-color: darkgrey;
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
}