h3 {
    color: red;
    text-align: center;
    text-decoration: underline;
}
h1 {
    color: lightgreen;
    text-align: center;
}
p {
    text-align: center;
}
    
#encourage {
    text-align: center;
}